$checkbox-size: 20px;

.checkbox__input {
  opacity: 0;
  position: absolute;

  &:checked + .checkbox__label:before {
    @extend .fas;
    content: fa-content($fa-var-check);
    background: $primary;
    color: $white;
  }

  & + .checkbox__label:before {
    content: '';
    background: $white;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: $checkbox-size;
    height: $checkbox-size;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
  }
}

.checkbox__label {
  position: relative;
  cursor: pointer;
  padding: 5px 0;
}

// Dropdown
.select {
  position: relative;
  display: inline-block;
  width: 100%;
}

.select select {
  width: 100%;
  padding: 8px 14px;
  border: 1px solid $grey-mid;
  background: $white;
  color: #7b7b7b;
  font-size: 1rem;
  appearance: none;
  cursor: pointer;

  &::-ms-expand {
    display: none;
  }

  &:hover,
  &:focus {
    color: $black;
  }

  &:hover ~ .select__arrow,
  &:focus ~ .select__arrow {
    border-color: $black;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &:disabled ~ .select__arrow {
    border-top-color: $grey-mid;
  }
}

.select__arrow {
  @extend %fa-icon;
  @extend .fas;
  position: relative;

  &:after {
    content: fa-content($fa-var-chevron-down);
    position: absolute;
    right: 8px;
    bottom: -2px;
    color: $primary;
  }
}
